body{
    
   /* background-color: #FBDA61;*/
    background-image: linear-gradient(-85deg, #FBDA61 30%, #FF5ACD 100%);
}

h1{
    font-family: 'Merriweather', 
    serif;
    font-family: 'Montserrat',
     sans-serif;
    font-family: 'Pacifico',
      cursive;
    font-family: 'Sacramento',
     cursive;
}





.top-container{
    margin: 20% 10%;
    height: 60px;
    text-align: center;
    /*background-color: beige;*/
    font-size: 250pt;
}

.middle-container{
    
    margin: auto 10%;
    text-align: center;
}

.bottom-container{
    text-align: center;
    margin: 20% 0 0 2%;
    color:black;
}