

.navbar{
    position: fixed;
    height: 80px;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .heading{
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sacramento', cursive;
    font-family: 'Sriracha', cursive;
   
  }

  .messages{
     margin-left: 25%;
     margin-top: 5%;
  }

  .dp{
    /* white-space: nowrap; */
    position: absolute;
    margin: 20px 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
   }
   

   .navbar-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
  }

  .footer-icons{
    margin: 5px 20px;
    color: black;
    font-size: xx-large;
    
  }

  