.navbar-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
  }

  .header{
    width: 90%;
    margin: 5%;
  }

  .navbar-top{
    /* position: fixed; */
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
  }
  

  .footer-icons{
    margin: 5px 20px;
    color: black;
    font-size: xx-large;
    
  }

  .input-container{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    text-align: center;
    margin: 2% 5% 2% 5%;
    width: 100%;
  }

  .search-icon{
      margin-top: 5px;
      margin-left: 1px;
      font-size: x-large;
      
  }

  .searchbar{
    width: 100%;
    text-align: center;
    /* font-size: xx-large; */
  }

  .active-icon{
    margin: 5px 20px;
    color: red;
    font-size: xx-large;
  }

  .main-content{
  text-align: center;
  /* border-radius: 8px; */
  /* background: grey; */
  /* opacity: 0.4; */
  }

  .images{
      /* margin: 2px 1px; */
      width: 150px;
      height: 150px;
      /* padding: 3px; */
      /* opacity: 1; */
  }

  