.navbar{
  height: 80px;
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile-name{
  margin-top: 8%;
  margin-left: 4%;
}
h5{
  font-family: 'Merriweather', 
  serif;
  font-family: 'Montserrat',
   sans-serif;
  font-family: 'Pacifico',
    cursive;
  font-family: 'Sacramento',
   cursive;
  font-size: 60px;
  text-align: center;
  margin-left:5%;

  
  
}

.logo{
  color: black;
  font-size: xx-large;
}


  .scroll {
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
   }
  
  .scroll::-webkit-scrollbar {
    display: none;
}

.switch{
  text-align: center;
 
}

h1{
 margin: auto;
 font-size: 1.5rem;
}

.story{
 white-space: nowrap;
 margin: 5px 4px;
 width: 80px;
 height: 80px;
 border-radius: 50%;
 -webkit-box-shadow: 0px 0px 5px 1px rgba(230,21,21,1);
-moz-box-shadow: 0px 0px 5px 1px rgba(230,21,21,1);
box-shadow: 0px 0px 5px 1px rgba(230,21,21,1);
}

.line{
  border: 1px solid grey; 
}

.profile{
display: flex;

}

.posts{
  margin-bottom: 20px;
}

.like-comment{
  margin: 5px 5px;
  color: black;
  font-size: xx-large;
}

.post-img{
  width: 100%;
  height: 300px;
  /* background-size: cover; */
}

.navbar-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}

.footer-icons{
  margin: 5px 20px;
  color: black;
  font-size: xx-large;
}